{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<style>
    .no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
</style>
<body>
  <input style="display: none;" id="context" value='{{all}}'></input>
    <!-- {%for i in all%}
    <span>{{i.title}}</span><br>
    {%endfor%} -->
    <div class="container">
        <div class="row no-gutters">
            <div class="col no-gutters">
                <canvas id="avg_intensity_sector"></canvas>
            </div>
            <div class="col no-gutters">
                <canvas id="avg_intensity_region"></canvas>
            </div>
            <div class="w-100"></div>
            <div class="col no-gutters">
                <canvas id="avg_intensity_country"></canvas>
            </div>
            <div class="col no-gutters">
                <canvas id="avg_intensity_country"></canvas>
            </div>
        </div>
    </div>
      
      
    <script>
        // Average by Sector
        const ctx = document.getElementById('avg_intensity_sector');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: {{averages.sector.0|safe}},
            datasets: [{
              label: 'Average intensity by sector',
              data: {{averages.sector.1|safe}},
              borderWidth: 3
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        // Average by Sector
        const ctx2 = document.getElementById('avg_intensity_region');
        new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: {{averages.region.0|safe}},
            datasets: [{
            label: 'Average intensity by region',
            data: {{averages.region.1|safe}},
            borderWidth: 3
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });

        // Average by Sector
        const ctx3 = document.getElementById('avg_intensity_country');
        new Chart(ctx3, {
            type: 'bar',
            data: {
            labels: {{averages.country.0|safe}},
            datasets: [{
                label: 'Average intensity by country',
                data: {{averages.country.1|safe}},
                borderWidth: 3
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
      </script>
</body>

</html>